.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0px;
}

.counters {
    display: block;
    text-align: center;
    padding: 24px;
    width: 18%;
}

.counters .count {
    font-size: 1.8rem;
    font-weight: 800;
    color: #000000;
}

.counters .spec {
    font-size: 1.5rem;
    color: #8143FA;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .counters {
        padding: 18px;
        width: 36%;
    }
    .counters .count {
        font-size: 1.5rem;
    }
    .counters .spec {
        font-size: 1.2rem;
    }
}