.bg {
    padding: 8vh 10vw;
    text-align: center;
    background-color: #181327;
}

.title {
    font-size: 3vw;
    color: #F5CB5C;
}

.content {
    font-size: 1.6vw;
    text-align: justify;
    color: #ffffff;
}

.subhead {
    font-size: 1.6vw;
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .title-anchor {
        height: 60px;
    }
    .title {
        font-size: 36px;
    }
    .content .subhead{
        font-size: 18px;
    }
}