.events {
    display: block;
    text-align: center;
    margin: 24px;
    padding-bottom: 25px;
    width: 26%;
    height: fit-content;
    box-shadow: 0 2px 2px #0003;
    transition: all 0.3s ease-in-out;
}

.events .eimgdesc {
    position: relative;
}

.events .eimg {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.events .ename {
    font-size: 1.2rem;
    margin-top: -4px;
    padding: 4px 12px;
    color: #1A1327;
    font-weight: 600;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* No of lines */
    /* The below code is fallback for old browsers */
    line-height: 1.8rem;
    /* Reference to font size */
    max-height: 3.6rem;
    /* line-height*no.of lines */
}

.events .edesc {
    font-size: 1rem;
    color: #FFFFFF;
    text-align: left;
    padding: 0px 30px;
    padding-bottom: 0;
    overflow-y: auto;
    max-height: 120px;
}

.events .edesc::-webkit-scrollbar {
    width: 2px;
}

.events .edesc::-webkit-scrollbar-thumb {
    background-color: #ffffff55;
    border-radius: 5px;
}

.events .img-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #8141FAEE;
    color: #FFFFFF;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.events:hover .img-overlay {
    bottom: 0;
    height: 100%;
}

.events:hover {
    box-shadow: 0 0 20px #1A1327;
    background-color: #8141fa;
}

.events:hover .ename {
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .events {
        width: 36%;
    }
    .events .edesc {
        padding: 15px 20px;
    }
}

@media (max-width: 600px) {
    .events {
        width: 80%;
    }
}