.background {
    background-color: #000000;
    background-image: url('/assets/images/cover.png');
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.overlay {
    position: absolute;
    background-color: #2F312F;
    filter: opacity(68%);
    -webkit-filter: opacity(68%);
    top: 0px;
    min-height: 100vh;
    min-width: 100vw;
}

.landing-data {
    position: absolute;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 0px;
    min-height: 100vh;
    width: 100vw;
}

.col-12 {
    width: 99.99%;
}