.loading-screen {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    opacity: 1;
    z-index: 100;
    background-color: #5d3f9b;
    height: 100%;
    width: 100vw;
    transition: all 1s ease-in-out;
}

.moved {
    left: 100%;
    opacity: 0.9;
}

@keyframes fade {
    0% {
        left: 0;
        opacity: 1;
    }
    50% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0.9;
    }
}