.top {
    position: absolute;
    top: 100px;
    left: 26px;
}
.top span {
    display: block;
    background-color: #8143FA;
    padding: 4px;
    margin: 15px 2px;
    border-radius: 50%;
}

.bottom span {
    display: inline-block;
        background-color: #8143FA;
        width: 16px;
        height: 16px;
        padding: 4px;
        font-size: 12px;
        text-align: center;
        color: #ffffff;
        margin: 10px 7px;
        border-radius: 50%;
}

@media (max-width: 600px) {
    .top {
        position: absolute;
        top: 85vh;
        left: auto;
    }
    .top span {
        display: inline-block;
        width: 20px;
        margin: 15px 10px;
    }
    .bottom span {
        display: inline-block;
        background-color: #8143FA;
        width: 16px;
        height: 16px;
        padding: 4px;
        font-size: 12px;
        text-align: center;
        color: #ffffff;
        margin: 10px 7px;
        border-radius: 50%;
    }
}
