.top {
    position: absolute;
    top: 100px;
    left: 26px;
}

.top a {
    display: block;
    padding: 8px;
    font-size: 22px;
    margin: 15px 2px;
    width: 24px;
    height: 24px;
}

.bottom {
    margin-top: 10px;
}

.bottom a {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 8px;
    font-size: 22px !important;
    margin: 10px 7px;
}

.top a, .bottom a {
    background-color: #8143FA;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 50%;
}

@media (max-width: 600px) {
    .top {
        position: absolute;
        top: 85vh;
        left: auto;
    }
    .top a {
        display: inline-block;
        width: 6vw;
        height: 6vw;
        padding: 4px;
        font-size: 5vw;
        margin: 15px 10px;
    }
    .bottom a {
        display: inline-block;
        background-color: #8143FA;
        width: 6vw;
        height: 6vw;
        padding: 4px;
        font-size: 5vw !important;
        text-align: center;
        color: #ffffff;
        margin: 10px 5px;
        border-radius: 50%;
    }
}