.footer {
    background-color: #000000;
    text-align: center;
    padding: 60px;
}

.footer a {
    color: #FFFFFF;
    font-size: 1.5vw;
}

.footer img {
    height: 5vw;
}

.footer .iia {
    color: #8143FA;
    font-size: 2vw;
    margin: 1.3rem 0;
}

@media (max-width: 900px) {
    .footer img {
        height: 10vw;
    }
    .footer .iia {
        font-size: 3vw;
    }
    .footer a {
        font-size: 2.8vw;
    }
}

@media (max-width: 600px) {
    .footer img {
        height: 14vw;
    }
    .footer .iia {
        font-size: 4vw;
    }
    .footer a {
        font-size: 3.8vw;
    }
}