.background {
    background-color: #000000;
    background-image: url('/assets/final_cover.jpg');
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.overlay {
    position: absolute;
    background-color: #2F312F;
    filter: opacity(68%);
    -webkit-filter: opacity(68%);
    top: 0px;
    min-height: 100vh;
    min-width: 100vw;
}

.landing-data {
    position: absolute;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 0px;
    min-height: 100vh;
    width: 100vw;
}

.col-12 {
    width: 99.99%;
}

.iia, .head, .vit {
    display: block;
    text-transform: uppercase;
}

.iia {
    margin-bottom: 1rem;
    font-size: 3vw;
    font-weight: 500;
}

.head {
    font-size: 5vw;
    font-weight: 700;
    overflow-x: hidden;
}

.vit {
    font-size: 4vw;
    font-weight: 600;
}

.btn-know {
    margin-top: 4rem;
    background-color: #8143FA;
    color: #000000;
    border: none;
    border-radius: 40px;
    padding: 15px 35px;
    font-size: 1.6rem;
    font-weight: 700;
}

.scrolldown {
    text-transform: uppercase;
    transform: rotate(90deg);
    position: absolute;
    font-weight: 600;
    bottom: 65px;
    right: -20px;
}

@media (max-width: 991px) {
    .head {
        font-size: 6vw;
    }
    .vit {
        font-size: 5vw;
    }
    .btn-know {
        margin-top: 4rem;
        border-radius: 30px;
        padding: 15px 15px;
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .iia {
        font-size: 4vw;
    }
    .head {
        font-size: 9vw;
    }
    .side-icons {
        position: absolute;
        top: 85vh;
        left: auto;
    }
    .side-icons span {
        display: inline-block;
        width: 20px;
        margin: 15px 10px;
    }
}

@media (max-width: 400px) {
    .iia {
        font-size: 9vw;
    }
    .head {
        font-size: 14vw;
    }
    .vit {
        font-size: 7vw;
    }
}
