.register{
    justify-content:center;
}

.redirectButton{
    display:block;
    margin: auto;
    width: fit-content;
}

.redirectbtn{
    background-color:#8143FA !important;
    padding:12px 16px;
    color: #ffffff;
    outline: none;
    border: none;
    font-size: 1.2rem;
    border-radius: 20px;
    font-weight:bold;
}

.redirectbtn:hover{
    box-shadow:0 3px 6px #9756FFAC;
}





