.board{
	background-color: #181327; 
}

#name{
	color:#FFFFFF;
	margin-bottom: 0px;
	text-align: center;
	font: Bold 37px/45px Lato;
	opacity: 1;
}

#designation{
	color:#FFFFFF;
	margin-bottom: 0px;
	text-align: center;
	font: Bold 37px/45px Lato;
	letter-spacing: 0px;
	color: #737373;
	text-transform: capitalize;
	opacity: 1;
	margin-bottom: 0px;
}

#pic{
	margin-right: auto;
    margin-left: auto;
    overflow:hidden;
	display: block;
	width: 262px;
    height:262px;
    border-radius: 50%;
}

